html, body {
  margin: 30;
  padding: 10;
  background-color: black;
  color: #ece9e9;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
canvas {
  display: block;
}
#my-container {
  position: absolute;
  left: 200px;
  top: 275px;
  border-radius: 25px;
}
#title{
  text-align: center;
  margin-top: -610px;
  margin-bottom: 50px;
  color: #FFFFFF;
  text-shadow: 3px 5px 2px #474747;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 55px;
  }
  
  #name{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font: size 15px;
    font-style: italic;
    text-align: center;
    color: rgb(168, 168, 168);
    margin-top: 0px;
  }
  #inspiration {
    width: 800px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.753);
    color: black;
    overflow: hidden;
    border: radius 25px;
    padding: 20 auto;
  }
  .refresh-button {
    background-color:dodgerblue;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    transition: opacity 0.15s;
    vertical-align: top;
    position:absolute;
    right:450px;
    bottom:-150px;
  }
  .welcometo {
    position:absolute;
    left:100px;
  }
  #logbook {
    background-color:rgb(121, 215, 240);
    color: black;
    padding: 20px;
    height: 10px;
    width: 400px;
    overflow-y: scroll;
    font-family: monospace;
    position: absolute;
    border: 10px;
  left: 265px;
  bottom: -150px;
  border-radius: 22px;
  }
  .bottomright{
    left:100px;bottom: -900px; margin-bottom: 150px; padding:30px;
  }
  .topleft {
    position: absolute;
    top: 195px;
    left: 585px;
    font-size: 18px;
  }
  .topright {
    position: absolute;
    top: 65px;
    right: -50px;
    font-size: 18px;
    z-index:0;
  }
 